PORT=3000
DB_HOST=localhost
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=ticking_tickets
DB_PORT=5433
NODE_ENV=development
JWT_SECRET=your_jwt_secret_here
REDIS_URL=redis://localhost:6380
RAZORPAY_KEY_ID=your_razorpay_key_id
RAZORPAY_KEY_SECRET=your_razorpay_key_secret
